.container
  .row
    .col-lg-6.col-sm-6.col-lg-offset-2.col-sm-offset-2.well
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }) do |f|
        %fieldset 
          %legend.text-center Sign Up  
          - if resource.errors.any?
            .alert.alert-danger.alert-dismissible
              %button.close{"data-dismiss"=>"alert", "aria-label"=>"Close"}>
                %span{"aria-hidden"=>"true"} &times;
              = devise_error_messages!  
          .form-group
            = f.label :email, class: 'control-label'  
            = f.email_field :email, autofocus: true, class: "form-control"
          .form-group
            = f.label :password, "New password", class: 'control-label' 
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            = f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control"
          .form-group
            = f.label :password_confirmation, class: 'control-label'
            = f.password_field :password_confirmation, autocomplete: "off", class: "form-control" 
          .form-group.text-center
            = f.submit "Sign up", class: "btn btn-primary"
