= form_for(@publisher, html: {class: 'form-horizontal'}) do |f|
  - if @publisher.errors.any?
    .alert.alert-danger.alert-dismissible
      %button.close{"data-dismiss"=>"alert", "aria-label"=>"Close"}>
        %span{"aria-hidden"=>"true"} &times;
      = pluralize(@publisher.errors.count, "error")
      prohibited this item from being saved:
      %ul
        - @publisher.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name, class: 'control-label' 
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :website, class: 'control-label' 
    = f.text_field :website, class: "form-control"
  .form-group.text-center
    = f.submit "Create Publisher", class: "btn btn-primary"
