.container
  %p#notice= notice
  %h1 Publishers
  .table-responsive
    %table.table
      %thead
        %tr
          %th Name
          %th Website
          %th{:colspan => "3"}
      %tbody
        - @publishers.each do |publisher|
          %tr
            %td= link_to publisher.name, publisher
            %td= publisher.website
            %td
              = link_to 'Edit', edit_publisher_path(publisher), class: "btn btn-primary btn-xs"
              = link_to 'Delete', publisher, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-xs"
    %br/
    = link_to 'New Publisher', new_publisher_path, class: "btn btn-primary"
