= form_for(@category, html: {class: 'form-horizontal'}) do |f|
  %fieldset
    - unless @category.errors.any?
      .alert.alert-danger.alert-dismissible
        = pluralize(@category.errors.count, "error")
        prohibited this item from being saved:
        %ul
          - @category.errors.full_messages.each do |message|
            %li= message   
    .form-group
      = f.label :name, class: 'control-label'
      = f.text_field :name, class: "form-control"
    .form-group
      = f.label :description, class: 'control-label'
      = f.text_field :description, class: "form-control"
    .form-group.text-center
      = f.submit "Create Category", class: "btn btn-primary"
